@use 'main/global-imports' as *;

.execution-modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  &__status {
    display: flex;
    justify-content: center;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-bottom: $spacing--sm;
  }
}
