<%= create_gmail_goto_action("View Run", "View Aborted Run", organization_project_run_url(@run.project.organization.subdomain, @run.project.id, @run)) %>

<table border="0" cellpadding="0" cellspacing="0" width="445" align="center" style="margin:auto" class="fullwidth">

  <tr>
    <td class="content">
      <p style="text-align:center;font-size:17px;color:#0E202E;line-height:160%;margin:0;padding:0;letter-spacing:0.3px" class="source light">
        Hello <%= @run.organization.name %>. Your run
        <span style="font-style:italic"><%= @run.display_name %></span>
        has been aborted.
      </p>
    </td>
  </tr>

  <tr>
    <td height="50"></td>
  </tr>

  <tr>
    <td align="center">
      <a href="<%= organization_project_run_url(@run.project.organization.subdomain, @run.project.id, @run) %>">
        <img src="http://static-public.transcriptic.com/email/run_status/view-run-btn@2x.png" width="250" height="40" style="display:block;margin:auto;border:none" align="center" />
      </a>
    </td>
  </tr>




</table>
