<%= create_gmail_goto_action("View Run", "View Completed Run", organization_project_run_url(@run.project.organization.subdomain, @run.project.id, @run)) %>

<table border="0" cellpadding="0" cellspacing="0" width="445" align="center" style="margin:auto" class="fullwidth">

  <tr>
    <td class="content">
      <p style="text-align:center;font-size:17px;color:#0E202E;line-height:160%;margin:0;padding:0;letter-spacing:0.3px" class="source light">
        Hello <%= @run.organization.name %>.  Your run
        <span style="font-style:italic"><%= @run.display_name %></span>
        has completed.
      </p>
    </td>
  </tr>

  <tr>
    <td height="50px"></td>
  </tr>

  <tr>
    <td>
      <img src="http://static-public.transcriptic.com/email/run_status/status_has-samples_run-complete@2x.png" width="230" height="69" style="display:block;border:none;margin:auto" align="center" />
    </td>
  </tr>

  <tr>
    <td height="50"></td>
  </tr>

    <tr>
      <td align="center" style="padding:0 0 10px 0">
        <a href="<%= organization_project_run_url(@run.project.organization.subdomain, @run.project.id, @run) %>">
          <img src="http://static-public.transcriptic.com/email/run_status/view-results-btn@2x.png" width="250" height="40" style="display:block;margin:auto;border:none" align="center" />
        </a>
      </td>
    </tr>

</table>
