<div class="lockout-page tx-stack tx-stack--md tx-type--invert">
  <h2>Your account has been locked after too many bad attempts to log in.</h2>
  <p>Please contact your organization administrator.</p>
</div>
