@use 'main/global-imports' as *;

.aliquot-info-panel {

  &__navback-icon,
  &__navback-title {
    display: inline;
  }

  &__navback-icon {
    margin-right: $spacing--xxxs;
    font-size: medium;
  }

  &__header {
    margin-top: $spacing--xlg;
  }
}
