@use 'main/global-imports' as *;

.aliquot-composition {
  &__compounds {
    @include tx-spacing__inset(square, xxxs);
    @include tx-layout__children(stack, sm);
  }

  &__molecule-viewer {
    .molecule-viewer--tiny {
      width: 200px;
      height: 180px;
    }
    @include tx-layout__item(stack, sm);
    @include tx-layout__item(inline, md);
  }

  &__icon {
    color: $carbon--40;
    font-weight: 400;
    font-size: medium;
    display: flex;
    
    &:hover {
      cursor: pointer;
    }
  }
}
