@use 'main/global-imports' as *;

.box {
  text-align: center;
  min-width: 100px;

  .boxcol-labels {
    display: flex;
    flex-direction: row;

    .boxcol-label {
      flex-grow: 1;
      margin-bottom: 10px;
      width: 10%;
    }
  }

  .boxrow {
    display: flex;
    flex-direction: row;

    .boxrow-label {
      flex-grow: 1;
      width: 10%;
    }

    .box-position {
      border-style: solid;
      border-width: thin;
      color: $black;
      flex-grow: 1;
      width: 10%;
      cursor: default;
    }

    .box-position.empty {
      background-color: $extra-dark-gray;

      &:not(.disabled) {
        cursor: pointer;
      }
    }

    .box-position.occupied.stock:not(.selected) {
      background-color: $standard-gray;

      &.disabled {
        background-color: $purple;
      }
    }

    .box-position.occupied:not(.selected):not(.stock) {
      background-color: $orange;

      &.disabled {
        background-color: $purple;
      }
    }

    .box-position.selected {
      background-color: $red;
    }

    .popover-wrapper__enabled {
      flex-grow: 1;
      width: 10%;
    }
  }
}
