@use 'main/global-imports' as *;

$user-post-color:     $dark-gray;

.past-tickets {
  .post {
    .container {
      font-weight: $font-weight-regular;
      display: flex;
      justify-content: flex-start;
      margin-top: 0px;

      .header {
        margin: $spacing--xxs;
      }
    }
  }
  .text {
    word-break: break-word;
    white-space: pre-wrap;
    margin-left: $spacing--md;
  }
  .event.post {
    margin-bottom: $spacing--xxs;
    padding: $spacing--xxs;
    border-left: 3px solid transparent;
    background-color: transparent;
    cursor: text;

    &.user {
      border-left-color: $user-post-color;
    }
  }
}