<div class="row" id="error">
  <div class="col-md-12">
    <h1>Sorry, looks like we had a problem with your request.</h1>
    <div id="technical-details">
      Error: <%= @error_message %>
    </div>
  </div>
</div>
