<div class="row" id="error">
  <div class="col-md-12">
    <h1>Sorry, we couldn't find that.</h1>
    <h2>Try <a href="javascript:history.back()">going back</a> or <a href="/">home</a>.  If you followed a link here, the link could be expired or out of date.</h2>
  </div>
</div>
