<div class="row" id="error">
  <div class="col-md-12">
    <h1>Something went wrong.</h1>
    <p>Well that definitely wasn't supposed to happen.  The error has been logged (that's its name tag, below) and we'll sort out what happened to make sure it gets fixed.  Hopefully the "back" button can get you to somewhere more productive.</p>
    <div id="technical-details">
      Incident ID: <%= @incident_id %>
    </div>
  </div>
</div>
