<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title white-text">Email Confirmed</h2>
  </div>
  <div class="panel-body">
    You should be receiving invoice emails for the next billing cycle
  </div>
</div>
