<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title white-text">Email Confirmation Resent</h2>
  </div>
  <div class="panel-body">
    Confirm email address to receive invoices for your organization
  </div>
</div>
