@use '@transcriptic/amino/dist/styling/amino-utilities' as *;

$header-background-color: $str-black;
$hover-navigation-item-color: $str-navy;
$header-bar-height: 50px;
$intercom-icon: 60px;
$intercom-icon-padding: 20px;
