@use '@transcriptic/amino/dist/styling/amino-utilities' as *;
@use 'bootstrap-variables' as *;

#inventory {
  > .loading {
    @include tx-typescale(7);
    margin-top: 50px;
    color: $extra-dark-gray;
  }
}

#shipments {
  .request-shipping-kit {
    margin-top: 15px;
    text-align: center;
  }
}

.ref-tooltip {
  @include tx-typescale(-1);
  text-align: left;
  white-space: normal;
  color: $black--80;
}

.truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.metadata-properties {
  .property {
    padding-right: 10px;

    &:hover {
      background: $yellow--60;
    }

    &.warning {
      color: $state-warning-text;
    }

    &.danger {
      color: $state-danger-text;
    }

    .actions {
      float: right;

      a.edit {
        position: relative;
        top: 1px;
      }

      a.edit:hover {
        color: $green;
      }

      a.remove:hover {
        color: $red;
      }
    }

    dt,
    dd {
      min-height: 22px;
    }

    dt {
      width: 170px;
    }

    dd {
      word-wrap: break-word;
    }
  }

  .add-property {
    > dt > input,
    > dd > input {
      border: 1px solid $light-gray;

      &:focus {
        border: 1px solid $orange;
      }

      &[disabled] {
        border: 1px solid transparent;
        background: transparent;
      }

      outline: none;
      font: inherit;
    }

    > dt > input {
      width: 130px;
      text-align: right;
    }
  }
}

li.drop-down-with-label {
  h4 {
    text-align: center;
  }
}

.option-properties {
  display: flex;
  justify-content: center;

  .custom-properties {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .add-property {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    dd {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &__actions {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  i.fa.fa-plus {
    color: $green;
  }

  .add-property,
  .property {
    display: flex;
    justify-content: center;
    padding: 0.25em 0 0.25em;

    i.fa-check {
      color: $green;
    }

    i.fa-times{
      color: $red;
    }
  }

  dt {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0.5rem;

    &:after {
      content: ':';
    }
  }

  span.value {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1em;
  }

  .custom-properties-add {
    display: flex;
    justify-content: center;
  }

  .property {
    display: flex;

    &:hover {
      background: $light-gray;
    }

    dd {
      display: flex;
      flex-flow: row-reverse nowrap;
    }
  }
}

#aliquot,
#container {
  .container-vis {
    text-align: center;

    .plate-view * {
      text-align: left;
    }
  }

  .no-aliquot {
    @include tx-typescale(0);
    text-align: center;
    color: $extra-dark-gray;
  }

  .audit-icon {
    @include tx-border-radius(medium);
    border: 1px solid $dark-gray;
    background-color: $dark-blue;
    color: $white;
    padding: 3px;
    width: 20px;
    text-align: center;
  }

  .metadata {
    .btn-xs .fa-plus {
      font-size: 80%;
    }

    dl.dl-horizontal {
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  .all-aliquots {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    border-right: 1px solid $dark-gray;

    .fa-chevron-left {
      font-size: 80%;
    }

    &:hover {
      background-color: $black--10;
    }

    + h3 {
      display: inline-block;
      padding: 5px 10px;
    }
  }

  .summary,
  .links {
    margin-bottom: 20px;
  }

  .summary {
    .volume,
    .resource,
    .item {
      display: inline-block;
      margin-right: 40px;
      margin-bottom: 20px;

      span {
        @include tx-typescale(5);

        &.age {
          @include tx-typescale(-1);
          color: $extra-dark-gray;
        }
      }
    }

    .volume h4 {
      padding-bottom: 9px;
    }

    .resource input.tt-input {
      @include tx-typescale(5);
      @include tx-border-radius(none);
      border: 0;
      box-shadow: none;
      padding: 0 0 0 3px;
      height: 36px;

      &:hover {
        border: 1px solid $dark-gray;
        padding: 0 0 0 2px;
      }
    }
  }
}

.plate-view {
  position: relative;

  .aliquot-info {
    @include tx-border-radius(large);
    position: absolute;
    border: 2px solid $black;
    background: $white;
    padding: 5px;
    pointer-events: none;

    .name {
      font-weight: $font-weight-bold;
    }

    .id {
      color: $extra-dark-gray;
    }
    z-index: 100;
  }
}

#aliquot,
#resource,
#resources,
#samples {
  .linked-list {
    list-style: none;
    padding-left: 0;

    span.age {
      color: $extra-dark-gray;
    }
  }

  .properties {
    dl {
      margin-bottom: 0;
    }

    dt,
    dd {
      border: 2px solid $dark-gray;
      display: inline-block;
      padding: 0 4px;
      position: relative;
    }

    dd {
      background-color: $white;
      margin-right: 5px;
      margin-left: 0;
    }

    dt {
      width: inherit;
      clear: none;

      &:nth-child(odd) {
        background-color: $dark-gray;
      }
    }
  }
}

#aliquot,
#resource {
  .properties {
    dt,
    dd {
      margin-bottom: 5px;

      &:hover {
        .delete {
          display: inline-block !important;
          position: absolute;
          right: 0;
          width: 15px;
          text-align: center;
          background-color: $white;
          color: $red;
          cursor: pointer;
        }
      }
    }

    .new-metadata {
      border: 2px solid $blue--20;
      margin-right: 5px;
      margin-bottom: 5px;

      .form-control {
        @include tx-typescale(-2);
        height: 18px;
        width: 125px;
        display: inline-block;
        border: 0;
        box-shadow: none;
        padding-right: 5px;
      }

      .create,
      .cancel {
        padding-right: 5px;
        display: inline-block;

        &:hover {
          color: $blue--30;
          cursor: pointer;
        }
      }
    }

    .add-new {
      display: inline-block;

      dd {
        border: 2px solid $blue--20;

        &:hover {
          border: 2px solid $blue--30;
        }
      }
    }
  }
}

#resources,
#samples {
  .btn-toolbar,
  .toolbar {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .container-index {
    .results {
      .result {
        &.inbound {
          opacity: 0.5;
        }

        .name {
          font-weight: $font-weight-bold;
        }

        .contents {
          > .icon {
            @include tx-typescale(-3);
            display: inline-block;
            width: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}

#locations {
  h2 a {
    font-size: 80%;
    margin: 5px;
  }

  .container-search {

    margin: 1em;

    .resource-searcher {
      display: inline-block;
      margin-right: 1em;
      min-height: 0;
      position: relative;
    }
  }

  .location-details {
    .edit-in-place {
      display: inline-block;
      margin: 5px;
    }
  }
}

.shipments-checkin {
  tr.shipment-container.checkedin {
    // darker grey than bootstrap table active
    background-color: $black--30;
  }

  #container-submit-btn {
    margin: 20px;
  }
}

.kit-requests-checkin {
  tr.kit-request-row.alive {
    // darker grey than bootstrap table active
    background-color: $black--30;
  }
}

.simple-search {
  position: relative;

  .simple-search-results-with-triangle {
    position: absolute;
    z-index: 1;
  }

  .simple-search-results-container {
    @include tx-box-shadow(light-shadow);
    background-color: $white;

  }

  .search-bar {
    @include tx-typescale(-1);
    border: 0;
    padding: 0;
    margin: 0;
  }

  .triangle-up {
    display: block;
    width: 30px;
    height: calc(30px / 1.41);
    z-index: 1;

    &:before {
      @include tx-box-shadow(light-shadow);
      @include tx-border-radius(small);
      background: $white;
    }
  }

  .simple-search-results {
    cursor: pointer;
    background: $white;
    font-family: monospace;

    .simple-search-result {
      padding: 5px;

      &.active {
        background-color: $extra-dark-gray;
        color: $white;
      }

      &:hover:not(.active) {
        background-color: $dark-gray;
      }
    }
  }
}

.tiso-details {
  .tiso-heading {
    font-weight: $font-weight-bold;
    text-align: right;

    .row-heading {
      border: solid thin transparent;
    }
  }

  .tiso-footer {
    text-align: center;
  }

  .tiso-column {
    cursor: default;
    text-align: center;
    padding: 0 $spacing--xxxs;

    .tiso-position {
      border: solid thin $black;
      position: relative;

      .popover {
        width: 200px;
      }

      .tiso-tags {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .tiso-tag {
          @include tx-border-radius(medium);
          padding: 0 $spacing--xxxs;
          border: solid thin $black;
        }

        .tiso-container {
          cursor: pointer;
          background-color: $green--40;
        }

        .tiso-container:hover {
          background-color: $green;
        }

        .tiso-container-selected {
          background-color: $green;
        }

        .tiso-reservation {
          background-color: $yellow;
        }
      }

      .tiso-position-index {
        @include tx-typescale(-2);
        position: absolute;
        right: 1px;
      }
    }
  }
}

.search-results-page {
  .empty-inventory-message {
    margin-top: $spacing--xxlg;
  }
}

.kit-order-row {
  td {
    &.wrap {
      white-space: inherit;
    }
  }
}
