@use '@transcriptic/amino/dist/styling/amino-utilities' as *;

.run-quote .quote-data {
  .quote-line-item {
    border-top: 1px solid $light-gray;
    margin-bottom: 10px;
    padding-top: 10px;

    h3 {
      text-transform: initial;
    }

    &:first-child {
      border-top: 0;
    }
  }

  .price {
    @include tx-typescale(0);
  }

  .price-notices {
    border-bottom: 1px dotted $black--20;
    margin-bottom: 10px;
    border-top: 1px dotted $black--20;
    padding-top: 20px;

    p {
      padding-top: 10px;
      padding-bottom: 10px;
      color: $extra-dark-gray;
      text-align: justify;
    }

    .total-price {
      @include tx-typescale(3);
      margin-bottom: 20px;

      .dollars {
        font-weight: bold;
      }
    }
  }

  .summary-row {
    margin-top: 20px;
  }
}
