@use 'main/global-imports' as *;

.details-container {
  // flex-start ensures that the element doesnt stretch vertically
  align-self: flex-start;

  // stick to the top. works in most browsers.
  position: sticky;
  top: $spacing--md;

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 20px;
  }
}
