<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= stylesheet_link_tag "application", :media => :all %>
  </head>
  <body>
    <div class="chrome">
      <div class="header-bar">
        <div class="logo"></div>
        <p class="error">Error</p>
      </div>
      <div class="main-page-content">
        <%= render partial: "layouts/flash_messages" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
